[project]
	description = This is a tools encrypt and decrypt using vigenere algorithm with scala language
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/SwimLurker
[access "refs/for/refs/*"]
	read = group user/SwimLurker
	push = group user/SwimLurker
	label-Code-Review = -2..+2 group user/SwimLurker
	label-Verified = -1..+1 group user/SwimLurker
	rebase = group user/SwimLurker
	removeReviewer = group user/SwimLurker
	submit = group user/SwimLurker
[access "refs/heads/*"]
	read = group user/SwimLurker
	create = group user/SwimLurker
	push = +force group user/SwimLurker
	pushMerge = group user/SwimLurker
[access "refs/tags/*"]
	push = +force group user/SwimLurker
	pushTag = group user/SwimLurker
	pushSignedTag = group user/SwimLurker
